{% extends "layout.html" %}

{% block title %}Author Analysis{% endblock %}

{% block content %}
    <!-- body -->

    <h1>Hi, this is the author page!</h1>

    <!-- JavaScript links -->

    <!DOCTYPE html>
    <title>Text Example</title>
    <style>
    div.container {
    background-color: #121212;
    }
    div.container p {
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
    color: #ffffff;
    background-color: #0a0a0a;
    }
    </style>
    
    <div class="container">
    <p>About the author....</p>
    <p>Stephen King as we know has been dubbed the "King of Horror", and has been writing for over 40 years. During his career he has developed a strong work ethic by writing everyday which allowed him to accomplish 50 novels and 200 short stories. Here is a quote from him talking about his journey to success.</p>
    <p>“I like to get ten pages a day, which amounts to 2,000 words. That’s 180,000 words over a three-month span, a goodish length for a book — something in which the reader can get happily lost, if the tale is done well and stays fresh.”</p>
    <p>― Stephen King, On Writing: A Memoir of the Craft</p>
    <p>It’s hard to imagine writing a book every 3 months. Thanks to his hard work and dedication we have novels and short stories we all know and love today.</p>
    </div>
    <div id="plot"></div>
    <div id="line"></div>
    <script  src="../static/js/author.js"></script>
{% endblock %}