{% extends "layout.html" %}

{% block title %}Book Search{% endblock %}

{% block content %}
    <h1>Book Search</h1>
    <form method="post" action="/book-search">
        <input type="text" name="search_query" placeholder="Search book titles...">
        <input type="submit" value="Search">
    </form>

    {% if search_results %}
        <h2>Search Results:</h2>
        <ul>
            {% for result in search_results %}
                <li>
                    <a href="/book/{{ result._id }}">{{ result.volumeInfo.title }}</a> - {{ result.volumeInfo.authors|join(', ') }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
